/* Aleksandr Honcharov, http://wd.honcharovs.com / Custom Styles / Start */

/* margin-top */
.mt0 {margin-top:0;}
.mt1  {margin-top: 1px; } .mt2  {margin-top: 2px; } .mt3  {margin-top: 3px; } .mt4  {margin-top: 4px; }
.mt5  {margin-top: 5px; } .mt10 {margin-top: 10px;} .mt15 {margin-top: 15px;} .mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;} .mt30 {margin-top: 30px;} .mt35 {margin-top: 35px;} .mt40 {margin-top: 40px;}
.mt45 {margin-top: 45px;}

/* margin-bottom */
.mb0 {margin-bottom:0;}
.mb5 {margin-bottom: 5px;} .mb10 {margin-bottom: 10px;} .mb15 {margin-bottom: 15px;} .mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;} .mb30 {margin-bottom: 30px;} .mb35 {margin-bottom: 35px;} .mb40 {margin-bottom: 40px;}

/* margin-left */
.ml5 {margin-left: 5px;} .ml10 {margin-left: 10px;} .ml15 {margin-left: 15px;} .ml20 {margin-left: 20px;}

/* padding-left */
.pl5 {padding-left: 5px;} .pl10 {padding-left: 10px;} .pl15 {padding-left: 15px;} .pl20 {padding-left: 20px;}

/* padding-top */
.pt5 {padding-top: 5px;} .pt10 {padding-top: 10px;} .pt15 {padding-top: 15px;} .pt20 {padding-top: 20px !important;}
.pt25 {padding-top: 25px;}

/* font-size */
.fs10 {font-size: 10px;} .fs11 {font-size: 11px;} .fs12 {font-size: 12px;} .fs13 {font-size: 13px;}
.fs14 {font-size: 14px;} .fs15 {font-size: 15px;} .fs16 {font-size: 16px;} .fs17 {font-size: 17px;}
.fs18 {font-size: 18px;} .fs19 {font-size: 19px;} .fs20 {font-size: 20px;} .fs21 {font-size: 21px;}
.fs22 {font-size: 22px;}
.fs23 {font-size: 23px;}
.fs24 {font-size: 24px;}
.fs25 {font-size: 25px;}
.fs26 {font-size: 26px;}
.fs27 {font-size: 27px;}
.fs28 {font-size: 28px;}
.fs29 {font-size: 29px;}
.fs30 {font-size: 30px;}


/* line-height */

.lh8   {line-height: 8px; } .lh10 {line-height: 10px;} .lh12 {line-height: 12px;} .lh14 {line-height: 14px;}
.lh16 {line-height: 16px;} .lh18 {line-height: 18px;} .lh20 {line-height: 20px;} .lh22 {line-height: 22px;}

/* border */
.custbr1 {border-right: 1px solid #fff;}

/* color */
.cust-white {color:#fff;}
.cust-haf-white:hover, .cust-haf-white:active, .cust-haf-white:focus {color:#fff;}

/* custom hr */
.hr1-555 { border-top: 1px solid #555; color: #555;}
.hr2-555 { border-top: 2px solid #555; color: #555;}

/* Zero padding */
.paddi0 {padding: 0;}

/* Zero margin */
.margi0 {margin: 0;}

/* Aleksandr Honcharov, http://wd.honcharovs.com / Custom Styles / End */