@font-face {
  font-family:'pf_din_text_cond_probold';
  src:url('../fonts/pfdintextcondpro-bold-webfont.eot');
  src:url('../fonts/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pfdintextcondpro-bold-webfont.woff') format('woff'),
      url('../fonts/pfdintextcondpro-bold-webfont.ttf') format('truetype'),
      url('../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'pf_din_text_cond_proitalic';
  src:url('../fonts/pfdintextcondpro-italic-webfont.eot');
  src:url('../fonts/pfdintextcondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pfdintextcondpro-italic-webfont.woff') format('woff'),
      url('../fonts/pfdintextcondpro-italic-webfont.ttf') format('truetype'),
      url('../fonts/pfdintextcondpro-italic-webfont.svg#pf_din_text_cond_proitalic') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'pf_din_text_cond_prolight';
  src:url('../fonts/pfdintextcondpro-light-webfont.eot');
  src:url('../fonts/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'),
      url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype'),
      url('../fonts/pfdintextcondpro-light-webfont.svg#pf_din_text_cond_prolight') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'pf_din_text_cond_promedium';
  src:url('../fonts/pfdintextcondpro-medium-webfont.eot');
  src:url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
      url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
      url('../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'pf_din_text_cond_proregular';
  src:url('../fonts/pfdintextcondpro-regular-webfont.eot');
  src:url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
      url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
      url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'pf_din_text_cond_prothin';
  src:url('../fonts/pfdintextcondpro-thin-webfont.eot');
  src:url('../fonts/pfdintextcondpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pfdintextcondpro-thin-webfont.woff') format('woff'),
      url('../fonts/pfdintextcondpro-thin-webfont.ttf') format('truetype'),
      url('../fonts/pfdintextcondpro-thin-webfont.svg#pf_din_text_cond_prothin') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'pf_dintext_promedium';
  src:url('../fonts/pfdintextpro-medium-webfont.eot');
  src:url('../fonts/pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pfdintextpro-medium-webfont.woff') format('woff'),
      url('../fonts/pfdintextpro-medium-webfont.ttf') format('truetype'),
      url('../fonts/pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
  font-weight:normal;
  font-style:normal;
}