
@font-face {
  font-family: 'IdealistSans';
  src: url('IdealistSans.eot?#iefix') format('embedded-opentype'),  url('IdealistSans.otf')  format('opentype'),
	     url('IdealistSans.woff') format('woff'), url('IdealistSans.ttf')  format('truetype'), url('IdealistSans.svg#IdealistSans') format('svg');
  font-weight: normal;
  font-style: normal;
}